{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Bem-vindo ao Patinhas & Caudinhas!</h1>
            <p>Aqui você poderá adquirir os melhores produtos personalizados para o seu pet!</p>
            <div class="accessibility-controls">
                <button onclick="increaseFontSize()">A+</button>
                <button onclick="decreaseFontSize()">A-</button>
            </div>
            <div class="login-icon" id="login-icon" onclick="handleLoginClick()">
                <img src="{% static 'images/login-icon.png' %}" alt="Login">
            </div>
            <div class="buy-icon" onclick="redirectToCart()">
                <img src="{% static 'images/buy-icon.png' %}" alt="Buy">
            </div>
        </header>

        <div id="loginModal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal()">&times;</span>
                <h2>Faça Login</h2>
                <form id="login-form" method="post" action="{% url 'home' %}">
                    {% csrf_token %}
                    {{ login_form.as_p }}
                    <input type="hidden" id="first_name" value="{{ first_name }}">
                    <button type="submit" class="login-button">Login</button>
                </form>
            </div>
        </div>

        <section class="products-section">
            <h2>Produtos Disponíveis:</h2>
            <div class="product-images">
                {% for product in products|slice:":5" %}
                    <div class="product" data-id="{{ product.id }}">
                        <h3>{{ product.name }}</h3>
                        <p>{{ product.description }}</p>
                        <p>Preço: ${{ product.price }}</p>
                        {% if product.image_url %}
                            <img src="{{ product.image_url }}" alt="{{ product.name }}">
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </section>

    </div>

    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>