<!DOCTYPE html>
<html lang="br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
    <!-- Estilos CSS -->
    <style>
        .product {
            margin-bottom: 20px;
            border: 1px solid #ccc;
            padding: 10px;
        }
        .product img {
            max-width: 100px;
            max-height: 100px;
        }
    </style>
</head>
<body>
    <h1>Produtos</h1>
    
  
    <div class="product">
        <img src="caminho_para_sua_imagem2.jpg" alt="Minha Imagem">
        <h2>Cama de macramê - premium</h2>
        <p>Essa caminha é super confortável e macio, seu gatinho vai adorar!</p>
        <p>R$ 250,00</p>
    </div>


</body>
</html>
